*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;

}

.row{
  max-width: 1600px;
  background-color:rgba(255, 255, 255, 0.7);
  /*padding-bottom:50px;*/
}

header{
width: 1600px;
height: 1238px;
background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("img/header.jpg");
background-size: cover;
background-position: center;
}

.slide-box{
position:absolute;
width:400px;
top:485px;
left:175px;
}

.slide-box2{
position:absolute;
width:375px;
top:613px;
left:172px;
}

h2{
  color:white;
  font-size:15px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 23px;
  text-align: left;

}



h1{
  color:white;
  margin:0;
  font-family: 'Raleway';
  font-size: 45px;
  font-weight: 300;
  line-height: 48px;
  text-align: left;
  font-style: normal;

}
.logo_university{
padding-top:9px;
}



.main-navbar{
  float:right;
  list-style:none;
  background-color:red;
}

.main-navbar li{
  display: inline-block;
  text-decoration: none;
  padding-top:1px;
  padding-bottom:1px;
  padding-right:120px;
  padding-left:10px;
}

.main-navbar li a{
  color:#fff;
  text-decoration:none;
  font-family:'Raleway';
  font-size:12px;
  letter-spacing:2px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;

}

.secondary-navbar{
position:absolute;
top:9%;
left:24%;
list-style:none;
}

.secondary-navbar li{
  display: inline-block;
  margin-left:75px;
  text-decoration: none;
}

.secondary-navbar li a{
  color:#000;
  text-decoration:none;
  font-size:15px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}

.section-news{
 padding-top:450px;

}

.student_box{
  position: absolute;
  top:115%;
  left:26.5%;
  width:365px;
  height:194px;
  background-color: #87888e;
  padding-top:70px;

  }

  .student_boxsecond{
    position: absolute;
    top:141%;
    left:26.5%;
    width:365px;
    height:194px;
    background-color: #999ba1;
    padding-top:70px;

  }

  .student_boxthird{
    position: absolute;
    top:166%;
    left:26.5%;
    width:365px;
    height:194px;
    background-color: #bbbbbf;
    padding-top:70px;

  }

.text-iwant{
  color:#fff;
  font-family: 'Raleway';
  font-size:35px;
  text-align: center;
  font-weight: 400;
  line-height: 39px;
}
